In [1]:
import pandas as pd
import numpy as np

csv_file = './../3. Cleaned Data/JPtoEN_clean_full.csv'

df = pd.read_csv(csv_file)

In [2]:
df.head()

,Unnamed: 0,original,corrected,original_par,corrected_par,word_count_original,word_count_corrected,word_count_diff,word_count_ratio
0,0,I will appreciate it if you correct my sentences.,I would appreciate it if you could correct my ...,NaN,NaN,9,10,1,1.111111
1,1,The summer weather in Japan is not agreeable t...,I find Japan's summer weather disagreeable bec...,NaN,NaN,16,13,-3,0.812500
2,2,"So, as the winter is coming, I'm getting to fe...","So, as the winter is coming, I'm starting to f...",NaN,NaN,11,11,0,1.000000
3,3,It is the very exciting season.,It is a very exciting season.,NaN,NaN,6,6,0,1.000000
4,4,"But, before enjoying those kind of happy time,...","But, before enjoying those kind of happy times...",NaN,NaN,16,16,0,1.000000

In [3]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [4]:
# 20K

# Sample 20K rows from the original dataset and write new csv files

df20K = df.sample(20000, random_state=42)

df40K = df.sample(40000, random_state=42)

df80K = df.sample(80000, random_state=42)

df20K.to_csv('./../3. Cleaned Data/20K_v2.csv')

df40K.to_csv('./../3. Cleaned Data/40K_v2.csv')

df80K.to_csv('./../3. Cleaned Data/80K_v2.csv')