In [1]:
import pandas as pd
import numpy as np

csv_file = './../3. Cleaned Data/MDNtoEN_clean_SS.csv'

df = pd.read_csv(csv_file)

In [2]:
df.head()

,Unnamed: 0,original,corrected
0,0,May be our parent would never realize the trau...,Maybe our parents would never realize the trau...
1,1,how successful was the league of nations in es...,How successful was the League of Nations in es...
2,2,The league of nations is an organization form ...,The League of Nations was an organization form...
3,3,however they are unsuccessful because most of ...,However the League was unsuccessful because it...
4,4,China on Tuesday condemned the honorary citize...,"On Tuesday, China condemned the honorary citiz..."

In [3]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [5]:
# 20K

# Sample 20K rows from the original dataset and write new csv files

df20K = df.sample(20000, random_state=42)

df40K = df.sample(40000, random_state=42)

df60K = df.sample(60000, random_state=42)

#df80K = df.sample(80000, random_state=42)

df20K.to_csv('./../3. Cleaned Data/MDN_20K_v2.csv')

df40K.to_csv('./../3. Cleaned Data/MDN_40K_v2.csv')

df60K.to_csv('./../3. Cleaned Data/MDN_60K_v2.csv')

#df80K.to_csv('./../3. Cleaned Data/MDN_80K_v2.csv')