In [5]:
import pandas as pd
import numpy as np

csv_file = './../3. Cleaned Data/MDNtoEN_clean_full.csv'

df = pd.read_csv(csv_file)

In [6]:
df.head()

,Unnamed: 0,original,corrected,original_par,corrected_par,word_count_original,word_count_corrected,word_count_diff,word_count_ratio
0,0,There is a big difference between the east and...,There is a big difference between the east and...,NaN,NaN,54,57,3,1.055556
1,1,countless beating from their parent is believe...,Countless beatings from their parent is believ...,NaN,NaN,95,99,4,1.042105
2,2,May be our parent would never realize the trau...,Maybe our parents would never realize the trau...,NaN,NaN,14,13,-1,0.928571
3,3,how successful was the league of nations in es...,How successful was the League of Nations in es...,NaN,NaN,13,13,0,1.000000
4,4,The league of nations is an organization form ...,The League of Nations was an organization form...,NaN,NaN,31,35,4,1.129032

In [7]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [8]:
# 20K

# Sample 20K rows from the original dataset and write new csv files

df20K = df.sample(20000, random_state=42)

df40K = df.sample(40000, random_state=42)

df60K = df.sample(60000, random_state=42)

df80K = df.sample(80000, random_state=42)

df20K.to_csv('./../3. Cleaned Data/MDN_20K_v2.csv')

df40K.to_csv('./../3. Cleaned Data/MDN_40K_v2.csv')

df60K.to_csv('./../3. Cleaned Data/MDN_60K_v2.csv')

df80K.to_csv('./../3. Cleaned Data/MDN_80K_v2.csv')